<h1>Таблица оценок</h1>
<div>
  <table style="width: 100%">
    <tr>
      <th>ФИО</th>
      <th *ngFor="let lesson of lessonRecords">
        {{ lesson.date | date: "dd.MM.yyyy" }}
      </th>
      <th>Средний балл</th>
      <th>Округленный балл</th>
      <th>Примечание</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td *ngFor="let studentGrade of student.grades; let lessonNum=index;trackBy:trackByIdx">
        <select (change)="updateGradeForStudent(student, lessonNum, $event.target.value)">
          <!-- <option disabled > </option> -->
          <ng-template ngFor let-eachGrade [ngForOf]="[1, 2, 3, 4, 5]">
            <option [selected]="studentGrade == eachGrade">{{ eachGrade }}</option>
          </ng-template>
        </select>
      </td>
      <td>{{ student.average }}</td>
      <td>{{ student.rounded }}</td>
      <td>{{ student.additional }}</td>
    </tr>
  </table>
</div>